fastapi
uvicorn
pydantic
pydantic[email]
python-multipart
python-dotenv
requests
beautifulsoup4
wikipedia
sympy
supabase
Pillow
pytesseract
PyMuPDF
deep-translator
opencv-python-headless
transformers
sentencepiece
torch